<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.software.code.mapper.ReceiptCodeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.software.code.entity.ReceiptCode">
        <id column="id" property="id" />
        <result column="receipt_code_id" property="receiptCodeId" />
        <result column="user_id" property="userId" />
        <result column="code_url" property="codeUrl" />
        <result column="amount" property="amount" />
        <result column="expire_at" property="expireAt" />
        <result column="timestamp" property="timestamp" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, receipt_code_id, user_id, code_url, amount, expire_at, timestamp, update_time
    </sql>

</mapper>
